/* Custom Tab Options */

.custom_tab_options{
  background-color: #15c7a4; 
  background-image: -webkit-linear-gradient(-169deg, #15c7a4 0%, #37de89 100%);
}

.custom_tab_options a{
  color: #fff !important;
}

.custom_tab_options.active, .custom_tab_options.active a{
  background-color: #15c7a4; 
  background-image: -webkit-linear-gradient(-169deg, #15c7a4 0%, #37de89 100%);
  color: #fff !important;
}


/* Thank you page General */

.WPTE_thankyou_page_general tr td{
    font-size: 16px;
    color: #404040;
    padding: 15px 50px 15px 0px;
    width: 200px;
}
.WPTE_thankyou_page_url{
    width: 245px !important;
    height: 32px;
}

#WPTE_thankyou_page_url{
    display: none;
}

.WPTE_thankyou_page_general label{
    margin: 0;
}

/* Select 2 */
.select2-container{
    width: 245px !important;
}
.select2-container .select2-selection--single{
    padding: 2px !important;
    height: 33px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    top: 4px !important;
}
.select2-search--dropdown .select2-search__field {
    padding: 0px 4px !important;
}

.WPTE_thankyou_page_general label{
  margin: 0 !important;
}

.WPTE_options_group{
  display: none;
}






/* Switch Design */

.WPTE_thankyou_custom_checkbox {
    display: flex;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }
  
  .WPTE_thankyou_custom_checkbox i {
    position: relative;
    display: inline-block;
    margin-right: 1rem;
    width: 50px;
    height: 25px;
    background-color: #d1d0d0;
    border-radius: 23px;
    vertical-align: text-bottom;
    transition: all 0.3s linear;
  }
  
  .WPTE_thankyou_custom_checkbox i::before {
    content: "";
    position: absolute;
    left: 0;
    width: 42px;
    height: 22px;
    background-color: #d1d0d0;
    border-radius: 11px;
    transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
    transition: all 0.25s linear;
  }
  
  .WPTE_thankyou_custom_checkbox i::after {
    content: "";
    position: absolute;
    left: 0;
    width: 21px;
    height: 21px;
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
    transform: translate3d(2px, 2px, 0);
    transition: all 0.2s ease-in-out;
  }
  
  .WPTE_thankyou_custom_checkbox:active i::after {
    width: 28px;
    transform: translate3d(2px, 2px, 0);
  }
  
  .WPTE_thankyou_custom_checkbox:active input:checked + i::after { transform: translate3d(16px, 2px, 0); }
  
  .WPTE_thankyou_custom_checkbox input { display: none; }
  
  .WPTE_thankyou_custom_checkbox input:checked + i { 
    background-color: #15c7a4; 
    background-image: -webkit-linear-gradient(-169deg, #15c7a4 0%, #37de89 100%);
  }
  
  .WPTE_thankyou_custom_checkbox input:checked + i::before { transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0); }
  
  .WPTE_thankyou_custom_checkbox input:checked + i::after { transform: translate3d(26px, 2px, 0); }


  /* Tooltip */

  .tab-content table tr td .WPTE_thankyou_tooltip{
    margin-left: 6px;
    border: 1px solid;
    width: 16px;
    height: 16px;
    border-radius: 40px;
    display: inline-block;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    
  }

  .tab-content table tr td {
      position: relative;
  }

  .WPTE_thankyou_tooltip_content{
      display: none;
  }

  .tab-content table tr td .WPTE_thankyou_tooltip:hover .WPTE_thankyou_tooltip_content{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    background: #000;
    border-radius: 8px;
    color: #fff;
    margin: -83px;
    font-size: 12px;
    font-weight: normal;
    padding: 10px;
    width: 200px;
    position: absolute;
    top: 112px;
    left: 0px;
    z-index: 9999;
  }
  .tab-content table tr td .WPTE_thankyou_tooltip:hover:before{
    border: solid;
    border-color: #000 transparent;
    border-width: 0px 5px 12px 5px;
    content: "";
    left: 15%;
    top: 17px;
    position: absolute;
  }

  /* End Tooltip */


 /* Product Page */

 .WPTE-thankyou-product-page-warning{
    background: #faf3e0;
 }